@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");




footer {
    margin-top: 0px;
}

.content_container {
    display: flex;
    height: 600px;
    justify-content: center;
    padding: 100px, 0px;

  }
  
  .container {
    margin: 0 auto;
    padding: 20px;
  }
  
  
  .left {
    flex-basis: 40%;
  }
  
  .right {
    padding-left: 20px;
    flex-basis: 70%;

  }

  .left img {
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    height: 460px;
  }

  .introduction span {
    font-size: 1.5rem;
    font-weight: 600;
  }





@media  screen and (min-width:1400px) {
  .container {
    padding: 20px 200px;
  }
  
}

@media screen and (min-width: 1001px) {
  .left {
    transform: translateY(30px);
  }
}

@media (max-width: 1000px) {
  .left img {
    width: 100%;
  }

}


@media (max-width: 768px) {


  .content_container {
    flex-direction: column;
  }
  .left {
    display: flex;
    margin-right: 0;
  }
  .right {
    padding-left: 0;
  }
  .left img {
    margin: 0 auto;
    height: 350px;
    width: 45%;
    object-position: top;

  }
}

@media (max-width: 600px) {
  .left img {
    width: 50%;
    margin-top: 40px;
  }


  .container {
    height: 1200px;
  }

  .content_container {
    transform: translateY(-70px);
  }

  .right {
    margin-bottom: 50px;
  }
}

@media (max-width: 550px) {
  .left img {
    width: 50%;
    height: 280px;
    margin-top: 130px;
  }



}

@media (max-width: 480px) {
  .left img {
    height: 270px;
    width: 60%;

  }


}

@media (max-width: 440px) {
  .left img {
    height: 290px;
    width: 70%;
  }
}

@media screen and (max-width: 385px) {
  .content_container {
    padding-top: 30px;
  }
  
}