.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products {
    margin: 5vh 0vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.product {
    background-color: lightgray;
    width: 30vw; /* Adjust this value to control the width of each product */
    max-width: 475px;
    height: 455px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
    margin: 20px;
}

.products .product:nth-child(4),
.products .product:nth-child(5),
.products .product:nth-child(6) {
    height: auto;
}


.product_img {
    width: 30vw; /* Adjust this value to control the width of each product */
    max-width: 475px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 340px;
}


.products .product:nth-child(4) img,
.products .product:nth-child(5) img,
.products .product:nth-child(6) img {
    height: auto;
}


span {
    margin-top: 5vh;
    font-size: 55px;
    font-weight: 300;
}

button {
    margin-top: 20px;
    margin-bottom: 10px;
}