.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.products {
    margin: 5vh 0vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.product {
    background-color: lightgray;
    width: 30vw; /* Adjust this value to control the width of each product */
    max-width: 475px;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
    margin: 20px;
}




.product_img {
    width: 30vw; /* Adjust this value to control the width of each product */
    max-width: 475px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 340px;
}



span {
    margin-top: 5vh;
    font-size: 55px;
    font-weight: 300;
}

button {
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    border: 1.5px solid black;
}

button:hover {
    background-color: #d8b4aa;
}


.product span {
    font-size: 18px;
}

