.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products {
    margin: 5vh 0vh;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}




.product {
    background-color: lightgray;
    width: auto; 
    max-width: 390px;

    margin-bottom: 20px;
    text-align: center;
    border-radius: 30px;
    margin: 10px;
}

.product.special {
    grid-column: 1 / -1; /* Span across all columns */
    justify-self: center; /* Center horizontally */
}

.product_img_exception {
    width: 100%;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 450px;
}


.product_img {
    width: 100%;
    max-width: 475px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    min-height: 340px;


}



.single_long {
    transform: translateY(40px);
}

span {
    margin-top: 5vh;
    font-size: 55px;
    font-weight: 300;
}

button {
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    border: 1.5px solid black;
}

button:hover {
    background-color: #d8b4aa;
}


.product span {
    font-size: 18px;
}





.object_fit {
    object-fit: cover;
}


@media screen and (max-width: 1000px) {

    .product {
        width: 98%; /* adjust the width to fit your needs */
        height: auto;
    }




}

@media screen and (max-width: 850px) {
    .product {
        width: 95%; /* adjust the width to fit your needs */
        height: auto;
    }
}

@media screen and (max-width: 720px) {
    .products {
        display: block;
    }
    .product {
        width: 100%;

    }

    .container span:first-child {
        font-size: 40px;

    }
}

@media screen and (max-width: 550px) {
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .product {
        max-width: 90%;
        margin: 20px;
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 0.8rem;
    }

    .container span:first-child {
        font-size: 33px;
        margin-bottom: 10px;
    }
    

    .product_img {
        min-height: 80%;
    }
}

@media screen and (max-width: 405px) {
    .container span:first-child {
        font-size: 30px;

    }


    .product span {
        font-size: 1rem;
    }

}



