@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


body {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}




.modal {
  display: none;
  position: fixed;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;
  height: 145%;
  transform: translateY(-200px);
  max-height: 700px;
  margin: 0 auto;
}

.modal-content {
  display: flex;
  position: relative; /* make the modal content a positioning context */
  justify-content: center;
  align-items: center;
}



.modal-content img {
  max-width: 80%;
  height: auto;
  transform: translateY(-30px);
}




.button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev-button {
  position: absolute;
  left: 0;
  top: 50%; /* vertically center the button */
  transform: translateY(-50%);
  cursor: pointer;
}

.next-button {
  position: absolute;
  right: 0;
  top: 50%; /* vertically center the button */
  transform: translateY(-50%);
  cursor: pointer;

}

.next-button img {
  width: 70%;
  max-width: 70px;

  transform: rotate(90deg) translateY(-20px);

}

.prev-button img {
  width: 70%;
  max-width: 70px;
  transform: rotate(270deg);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}


.close-button img {
  width: 50px;
  transform: translate(-50%, -130%);
}


.icon {
  margin-left: 5px;
  height: 20px;
}

.modal-content {
  max-width: 40%;
  margin: 0 auto;
}

.modal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 145%;
  transform: translateY(-200px);
  background: rgba(0, 0, 0, 0.829);
  z-index: -1;
}


.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-image: url(./img/background.svg);
  padding: 30px;
}

.menu-container,
footer {
  width: 100%;
}


.menu-container,
.about_me_container {
  text-align: center;
}


.logo {
  width: 18%;
  margin-right: auto;
  margin-left: 100px;
  cursor: pointer;
  transform: translate(-10%, 20%);
  z-index: 999999999;
}


.menu {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(224,212,188);
  font-weight: 500;
  position: relative;
  z-index: 1; 
}

.dropdown {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 2000;
  transform: translateX(-2%);
}

.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown-content li {
  animation: fadeDown 0.6s ease;
  transform-origin: top center;
  animation-fill-mode: both;
}


.dropdown-content li:nth-child(2) {
  animation-delay: 0.2s;
}

.dropdown-content li:nth-child(3) {
  animation-delay: 0.4s;
}

.dropdown-content li:nth-child(4) {
  animation-delay: 0.6s;
}

.dropdown-content li:nth-child(5) {
  animation-delay: 0.8s;
}

.dropdown-content li:nth-child(6) {
  animation-delay: 1s;
}

.dropdown-content li:nth-child(7) {
  animation-delay: 1.2s;
}


@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}







.dropdown-content li {
  background-color: rgb(224,212,188);
  margin-bottom: 5px;
  border-radius: 15px;
  display: flex;
  list-style: none;
  width: 120px;
  align-items: center; 
  justify-content: center;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
  z-index: 9999;
}

.dropdown-content li:first-child {
  margin-top: 0.7vh;
}





.main_link {
  display: flex;
  height: 3.7vh;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  font-size: 12px;
  line-height: 1;
  padding: 0.2em 1.2em;
  margin-left: 2em;
  cursor: pointer;
  transform: translateX(-30px);
}


.main_link:hover {
  background-color: #F9D2C9;
  transition: opacity 0.5s;
}


/* This class will be toggled on the .menu container */
.menu.hover-active .main_link:not(:hover) {
  opacity: 0.5;
}



.pulse:hover, 
.pulse:focus {
  animation: pulse 1.3s;
  box-shadow: 0 0 0 2em transparent;
  border-radius: 10px;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }
}



li {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

li:hover {
  background-color: #F9D2C9;
}



.basket {
  margin-right: 70px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}


.basket-count {
  position: absolute;
  top: 20px;
  right: 67px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  z-index: 9999;
}

.basket img {
  width: 35px;
}



.basket-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 120px;
  top: 0;
  font-size: 14px;
}

.basket-product:nth-of-type(odd) {
  background-color: rgba(26, 25, 25, 0.274)
}

.basket-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.basket-container:first-child {
  flex-basis: 40%;
}




.basket-product-quantity {
  flex: 1;
  text-align: center;
}

.basket-product-name {
  font-weight: bold;
  margin-right: 10px;
}


.basket-section {
  padding-bottom: 100px;
}


.basket-section img {
  width: 100px;
}

.basket-product-price {
  font-weight: bold;
  text-align: center;
}

.quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.increment-button,
.decrement-button {
  cursor: pointer;
  padding: 2px;
  margin-top: 1px;

  border: 1px solid white;
  text-align: center;
  scale: 0.8;
}



.delete-button img{
  width: 25px;
  cursor: pointer;
  margin-left: auto;
}


.total {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: wheat;
  color: black;
  height: 120px;
  width: 500px;
  bottom: 0;
}

.order-button {
  display: flex;
  width: 400px;
  height: 50px;
  background-color: orange;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}


.hidden {
  display: none;
}


.cartTab .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.cartTab .header h1:first-of-type {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cartTab .header h1:last-of-type {
  margin-left: auto; /* Ensures the last h1 stays to the right */
  margin-right: 15px;
}

.header h1 svg {
  scale: 1.3;
  cursor: pointer;
}

.cartTab .header h1{
  padding: 20px;
  font-weight: 300;
  font-size: 27px;
}


.cartTab{
  width: 500px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -500px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: 0.8s;
  overflow-y: auto;
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  z-index: 500;
}

.cartTab::-webkit-scrollbar { /* Hide scrollbar in Chrome, Safari and Opera */
  display: none;
}


body.showCart .cartTab{
  right: 0;
}


/* body.showCart .main_container{
  transform: translateX(-450px);
} */

.main_container {
  transition: transform 0.8s;
}


button {
  font-weight: 600;
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  transition: background-color 0.7s;
}


.read_more_btn {
  display: flex;
  background-color: lightgray;
  width: 180px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.read_more_btn:hover {
  background-color: #F9D2C9;
}


button:hover {
  background-color: red;
}


.about_me_container span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: larger;
  
}


.about_me_container {
  transform: translateY(100px);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);
  display: flex;
  margin: 0 auto;

  margin-bottom: 14vh;
  background-color: whitesmoke;
  position: relative;
  overflow: visible;
  height: 150px;
}


.about_me {
  width: 540px;
}



.me_img {
  left: 0; 
  bottom: 0;
  height: 180%;
  transform: translateY(-44%);
  border-radius: 10px;
  
  
}


footer {
  display: flex;
  background-color: rgb(224,212,188);
  justify-content: space-between;
  
}

.media {
  width: 25vw;
  margin-left: 100px;
}


.contact {
  margin-right: 100px;
}


.contact p,
.media p {
  margin-bottom: 5px;
  text-align: center;
}


.contact p:first-child,
.media p:first-child {
  font-weight: 500;
  font-size: 20px;
}


.input-container p {
  color: white;
}


.category-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 2vh;
}

.category-container {
  width: 30%;
  margin: 10px;
}

.category-container:last-child {
  margin: -5px;
}

.category {
  flex: 1;
  position: relative;
}


.category img {
  width: 100%;
  height: auto;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0);
  border-radius: 10px;
}


.category:hover img {
  filter: blur(2px);
  box-shadow: 0 0 30px rgb(255, 255, 255);
}

.category_text {
  cursor: pointer;
  font-size: 40px;
  font-weight: 300;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(75px);
  transition: 0.6s;
  text-align: center;
}

.category:hover .category_text {
  opacity: 1;
  transform: translateY(0px)
}


.slider-container {
  width: 95%;
  margin: 0 auto;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  gap: 10px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: auto;
  height: 350px;
  object-fit: cover;
  cursor: pointer;
}

.slider-container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */


#next-slide img,
#prev-slide img {
  width: 30px;
}

#next-slide img {
  transform: rotate(90deg);
}

#prev-slide img {
  transform: rotate(270deg);
}


#gallery_text,
.categories_text {
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 40px;
  font-weight: bold;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.hamburger {
  cursor: pointer;
}




.hamburger img {
  display: none;
  width: 50px;
}
.show {
  display: block;
}


.svg_container {
  display: flex;
  justify-content: center;

}

.svg_container a {
  width: 50px;
}



@media screen and (max-width: 1330px) {
  .logo {
    margin-left: 0;
  }


  .slider-wrapper .image-list .image-item {
    width: 250px;
    height: 330px;
  }


  .modal-content {
    max-width: 50%;
  }
}


@media  screen and (max-width: 1130px) {
  .modal-content {
    max-width: 60%;
  }
}



@media screen and (max-width:1000px) {
  .icon-cart {
    position: absolute;
    right: 30px;
    margin-right: 0px;
    top: 20px;
    width: 40px;
    height: 40px;
  }

  .basket-count {
    position: absolute;
    right: -6px;
    top: -13px;

  }

  .basket img {
    width: auto;
  }

  .modal-content {
    max-width: 65%;
  }


  .hamburger img {
    display: flex;
    position: absolute;
    top: 95px;
    right: 30px;
  }

  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 230px;
    height: 300px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }



  .menu {
    flex-direction: column;

    z-index: 100;
    height: 150px;
  }

  .main_link {
    display: none;
    width: 95%;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 5px;
    background-color: rgb(224,212,188);
    min-height: 32.05px;
    max-height: 36.05px;
    z-index: 200;
    transform: translateX(0px);
    padding: 0px;
  }

  .dropdown {
    display: none;
    width: 100%;
    z-index: 19999;
    justify-content: center;
  }

  .main_link:last-child {
    margin-right: 0px;
  }



  .logo {
    top: 0;
    height: 150px;
    width: auto;
    transform: translate(0px, 0px);
    z-index: 500;

    margin: 0 auto;
  }

  .dropdown-content {

    width: 100%;
    margin-top: 23px;
    transform: translate(2.25%, -27px);
    padding: 0px;

    justify-content: center;
  }

  .dropdown-content li {
    width: 95%;
    min-height: 36.05px;
    max-height: 36.05px;
    border-radius: 10px;
    border: 2px solid black;
    z-index: 300;
    position: relative; 
    top: 45px;
    
  }

  .category_text {
    opacity: 1;
    font-size: 17px;
    position: relative;
    transform: translateY(0px);


    z-index: 1;
  }

  .category:hover img {
    filter: none;
  }

  .about_me_container {
    z-index: 5;
    transform: translate(-20px, 90px);
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }
}

@media screen and (max-width:880px) {
  .slider-wrapper .image-list .image-item {
    width: 180px;
    height: 240px;
  }

}


@media screen and (max-width:770px) {
  .about_me_container {
    scale: 0.85;
    transform: translate(-100px, 90px);
  }

  .contact,
  .media {
    margin: 10px;
  }


  
}


@media screen and (max-width:660px) {
  .category-section {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icon-cart {
    scale: 0.85;
    right: 23px;
  }

  .close-button img {
    transform: translateY(0px);
  }


  .hamburger img {
    width: 40px;
  }

  .category {
    width: 300%;
    left: -105%;
  }

  .categories_text {
    transform: translateY(-20px);
  }

  .category_text {
    font-size: 25px;
  }

  .contact p,
  .media p {
    font-size: 15px;
  }
  .slider-wrapper .image-list .image-item {
    width: 230px;
    height: 300px;
  }
}

@media screen and (max-width:630px) {
  .about_me_container {
    width: 130%;

  }

  .modal-content {
    max-width: 70%;
  }

  .slider-wrapper .image-list .image-item {
    width: 200px;
    height: 250px;
  }

  .content,
  .media {
    font-size: 10px;
  }
}

@media screen and (max-width:540px) {
  .slider-wrapper .image-list .image-item {
    width: 170px;
    height: 200px;
  }

  .about_me_container {
    height: 160px;
    width: 135%;
  }


}


@media screen and (max-width:513px) {
  .cartTab {
    width: 100%;
  }

  .total {
    width: 100%;
  }

  .order-button {
    width: 70%;
  }
}

@media screen and (max-width:455px) {
  .basket-container:first-child img {
    width: 80px;
  }

  .modal-content {
    max-width: 77%;
  }

  .basket-product {
    font-size: 12px;
    height: 90px;
  }

  .about_me_container {
    height: 180px;
    width: 130%;
    transform: translate(-70px, 90px);
  }

  .me_img {
    height: 250px;
    transform: translateY(-28%);
  }

  .categories_text {
    font-size: 35px;
  }

  footer {
    display: flex;
    justify-content: center;
    
  }

  .contact p,
  .media p {
    font-size: 12px;
  }
}


@media screen and (max-width:390px) {
  .about_me_container {
    height: 200px;
    width: 130%;
  }
  .categories_text {
    font-size: 30px;
  }

  .me_img {
    transform: translateY(-19%);
  }

  .contact p,
  .media p {
    font-size: 10px;
  }

}