@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


body {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}


.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.icon {
  margin-left: 5px;
  height: 20px;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}



.container {
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(./img/letöltés\ \(2\).jpg);


}

.menu-container,
.about_me_container,
footer {
  width: 100%;
}


.menu-container,
.about_me_container {
  text-align: center;
}


.logo {
  width: 16%;
  margin-right: auto;
  margin-left: 13vw;
  cursor: pointer;
  transform: translate(-10%, 20%);
  z-index: 999999999;
}


.menu {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(198, 181, 141, 0.544);
  font-weight: 500;

}

.dropdown {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 20000;
  transform: translateX(23%);

}


.dropdown-content li {
  animation: fadeDown 0.5s ease;
  animation-fill-mode: both;
  transform-origin: top center;
  
}


.dropdown-content li:nth-child(2) {
  animation-delay: 0.2s;
}

.dropdown-content li:nth-child(3) {
  animation-delay: 0.4s;
}

.dropdown-content li:nth-child(4) {
  animation-delay: 0.6s;
}

.dropdown-content li:nth-child(5) {
  animation-delay: 0.8s;
}

.dropdown-content li:nth-child(6) {
  animation-delay: 1s;
}


@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}







.dropdown-content li {
  background-color: rgb(192,188,188,0.6);
  margin-bottom: 5px;
  border-radius: 15px;
  display: flex;
  list-style: none;
  width: 120px;
  align-items: center; 
  justify-content: center;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  transform: translateX(23%);
  border: 1px solid black;
}

.dropdown-content li:first-child {
  margin-top: 0.7vh;
}

.main_link {
  display: flex;
  height: 3.7vh;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  font-size: 12px;
  line-height: 1;
  padding: 0.2em 1.2em;
  margin-left: 2em;
  cursor: pointer;
}


.main_link:hover {
  background-color: #F9D2C9;
}


.pulse:hover, 
.pulse:focus {
  animation: pulse 1.3s;
  box-shadow: 0 0 0 2em transparent;
  border-radius: 10px;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }
}



li {
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

li:hover {
  background-color: #F9D2C9;
}







.main_link:last-child {
  margin-right: 5vw;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.read_more_btn {
  margin-top: 5vh;
}




button {
  font-weight: 600;
  border: 0;
  outline: 0;
  color: white;
  cursor: pointer;
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  transition: background-color 0.7s;
}


.read_more_btn {
  display: flex;
  background-color: lightgray;
  width: 180px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 2vh;
  border: 1px solid black;
  border-radius: 15px;
}

.read_more_btn:hover {
  background-color: #F9D2C9;
}


button:hover {
  background-color: red;
}


.about_me_container span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: larger;
  
}


.about_me_container {
  transform: translateY(11vh);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.692);
  display: flex;
  margin: 0 auto;
  width: 45vw;
  margin-bottom: 14vh;
  background-color: whitesmoke;
  position: relative;
  overflow: visible;
  height: 150px;
}




.me_img {
  left: 0; 
  bottom: 0;
  height: 180%;
  transform: translateY(-44%);
  border-radius: 10px;
  
}


footer {
  display: flex;
  background-color: rgba(128, 128, 128, 0.5);
  justify-content: space-around;
}




.category-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 2vh;
}

.category-container {
  width: 30%;
  margin: 10px;
}

.category {
  flex: 1;
  position: relative;
}


.category img {
  width: 100%;
  height: auto;
  margin: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.658);
  border-radius: 10px;
}


.category:hover img {
  filter: blur(3px);
  box-shadow: none
}

.category_text {
  cursor: pointer;
  font-size: 40px;
  font-weight: 300;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(75px);
  transition: 0.6s;
  text-align: center;
}

.category:hover .category_text {
  opacity: 1;
  transform: translateY(0px);
}


.carousel-container {
  position: relative;
  overflow: hidden;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-items {
  display: flex;
  cursor: pointer;
}

.carousel img {
  width: calc(100% / 5);
  height: 300px;
  margin-right: 20px;
  border-radius: 10px;
}






.prev-btn,
.next-btn {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.prev-btn {
  left: 10px;
}

.prev-btn img {
  width: 15px;
  transform: rotate(90deg);
}

.next-btn {
  right: 10px;
}

.next-btn img {
  width: 15px;
  transform: rotate(270deg);
}


#gallery_text,
.categories_text {
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 40px;
  font-weight: bold;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}




