.content-wrapper {
    display: flex;
    margin-bottom: 5vh;
    margin-left: 3vw;
}

.picture_container {

    flex-basis: 40%;
}

.picture_container img {
    max-width: 60vw;
}

.product_description {
    flex-basis: 70%;
    padding-top: 2vh;
}

.product_name {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 35px;
    font-weight: 500;
}

.product_description span {
    font-size: 25px;
    font-weight: 450;
}

.shown_picture {
    height: 60vh;
    flex-basis: 50%;
}

.shown_picture img {
    height: inherit;
}

.thumbnail_pictures img {
    height: 110px;
    margin: 10px;
    cursor: pointer;
}

.thumbnail_pictures img:first-child {
    margin-left: 0px;
}

.product_description .pulse:hover {
    border-radius: 20px;
}


.product_price {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100px;
    transform: translateX(-30px);
}

.to_basket {
    background-color: rgb(252, 197, 253);
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 20px;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 
    cursor: pointer;
}


#flower_collection_img {
    height: 50vh;
}

#green_collection {
    height: 40vh;
    width: 90%;
}
  